
[Desktop Entry]
Name=FastAnime
Type=Application
version=v2.8.1
Path=/home/matt
Comment=Watch anime from your terminal 
Terminal=false
Icon=/home/matt/.local/pipx/.cache/e3961b4547a6562/lib/python3.11/site-packages/fastanime/assets/logo.png
Exec=/home/matt/.local/pipx/.cache/e3961b4547a6562/bin/python -m fastanime --rofi anilist
Categories=Entertainment
