[Desktop Entry]
Name=IntelliJ IDEA Community Edition 2023.3.6
Exec="/home/matt/.local/share/JetBrains/Toolbox/apps/intellij-idea-community-edition/bin/idea.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/matt/.local/share/JetBrains/Toolbox/apps/intellij-idea-community-edition/bin/idea.svg
Comment=The IDE for Java and Kotlin enthusiasts
StartupWMClass=jetbrains-idea-ce
StartupNotify=true
