[Desktop Entry]
Name=Writerside 2023.3 EAP
Exec="/home/matt/.local/share/JetBrains/Toolbox/apps/writerside/bin/writerside.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/matt/.local/share/JetBrains/Toolbox/apps/writerside/bin/writerside.svg
Comment=Documentation authoring IDE
StartupWMClass=jetbrains-writerside
StartupNotify=true
